body {
    background-color: #e4fca4;
}

header {
    display: flex;
    justify-content: center;
}

@media (max-width: 614px) {
    .page-title {
        text-align: center;
    }
}

/* --------------------------------- Header --------------------------------- */


.page-title {
    margin-top: 40px;
    min-width: 312px;
    font-size: 56px;
    font-weight: bold;
    color: #75B79E;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.004em;
    background-color: rgb(255, 255, 255);
}


/* --------------------------------- Main --------------------------------- */


.cards-section {
    margin-top: 100px;
    height: 600px;
    background: rgb(255, 94, 0);
}







