body {
    background-color: #e8f8bc;
}

header {
    display: flex;
    justify-content: center;
}

@media (max-width: 614px) {
    .page-title {
        text-align: center;
    }
}

/* --------------------------------- Header --------------------------------- */


.page-title {
    margin-top: 60px;
    min-width: 312px;
    font-size: 56px;
    font-weight: bold;
    color: #75B79E;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.004em;
    /* background-color: rgb(255, 255, 255); */
}


/* --------------------------------- Main --------------------------------- */


.cards-section {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}


/* --------------- Cards --------------- */

.card {
    width: 200px;
    min-width: 200px;
    height: 250px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.card:hover  .back-face {
    transform: rotateY(0deg);
}

.card:hover  .front-face {
    transform: rotateY(-180deg);
}






